<div class="jumbotron">
    <h1 class="display-4"> LNDR </h1>
    <p class="lead"> What do you want to borrow? </p>
    <hr class="my-4">
    <p> Looking for a way to save money?
        Look no futher than LNDR! </p>
</div>
