// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ------------ search button color ----------- //
.btn-blue {
  color: #fff;
  background-color: #5E9BD1;
  border-color: #93AEC6;
}

.btn-blue:hover {
  color: #fff;
  background-color: #2876BC;
  border-color: #2876BC;
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(94, 155, 209, 0.5);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: #93AEC6;
  border-color: #93AEC6;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #2876BC;
  border-color: #2876BC;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(94, 155, 209, 0.5);
}